:root {
    font-size: 12px;
}

body {
    height: 90vh;
    overflow-y: hidden;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.profilePic {
    width: 4rem;
    padding: 0.4rem;
}

.profilePic-large {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 12rem;
    padding: 0.5rem;
}

.profile-top {
    background-color: #0b9113;
    color: white;
}

#headIconContainer {
    align-self: center;
}

.icon {
    font-size: 2rem;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.icon:hover, .hover:hover {
    box-shadow: 0 0 10px #ccc;
    background-color: #9fa7b5;
    cursor: pointer;
}

#bodyContainer {
    min-height: 100vh!important;
}

#bodyContainerRow {
    min-height: 100vh;
}

#leftPanel, #leftProfilePanel {
    min-height: 100%;
}

#chatHeads {
    max-height: 80vh;
    overflow-y: scroll;
    padding: 1.5rem!important;
    /*background-color: pink;*/
    margin: auto!important;
}

.chatHead {
    padding-top: 1rem!important;
    min-width: 100%;
    margin: auto;
}

.chatHead:hover {
    box-shadow: 0 0 10px #ccc;
    background-color: #9fa7b5;
    cursor: pointer;
}

#rightPanel {
    background-image: url("../images/background.jpg")!important;
}

.msgLeft {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 40px;
    background-color: white;
    max-width: 70%;
    border-radius: 25px;
    font-weight: bold;
}

.msgRight {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 40px;
    background-color: white;
    max-width: 70%;
    border-radius: 25px;
    font-weight: bold;
    background-color: #beef97;
    float: right;
}

#chatMessages {
    padding: 1rem;
    overflow: scroll;
    max-height: 90vh;
    overflow-x: hidden;
}

.padding {
    padding: 0.5rem;
}